@scope (app-action-menu) {	
	:scope[role="menu"] {
		--action-menu-spacing: 0.25rem;

		/* Anchor Positioning */
		position: fixed;
		position-area: block-end span-inline-end;
		position-try-fallbacks:
			flip-block,
			flip-inline,
			flip-block flip-inline;
		position-try-order: most-inline-size;

		/* End of fade-out */
		opacity: 0;

		/* Transition settings */
		transition-property: opacity, overlay, display;
		transition-behavior: allow-discrete;
		transition-duration: 100ms;
		transition-timing-function: linear;

		/* Other properties */
		background: transparent;
		border: none;
		margin: var(--action-menu-spacing) 0;
		padding: 0;
		overflow: visible;
	}

	/* Menu items */
	.menu-content {
		--_menu-bg: light-dark(#f6f6f7, #3a424b);
		display: flex;
		flex-direction: column;
		background: var(--_menu-bg);
		border-radius: 0.5rem;
		box-shadow:
			/* Subtle shadow: visible in light, transparent in dark */
			0px 3px 1px -2px light-dark(rgb(0 0 0 / 0.2), transparent),
			0px 2px 4px 0px light-dark(rgb(0 0 0 / 0.14), transparent),
			0px 1px 8px 0px light-dark(rgb(0 0 0 / 0.12), transparent),
			/* Glowy border: transparent in light, visible in dark */
			inset 0 0 0 1px light-dark(transparent, oklch(from var(--_menu-bg) calc(l + 0.5) c h / 0.5)),
			0 0 16px light-dark(transparent, oklch(from var(--_menu-bg)  calc(l + 0.5) c h / 0.3)),
			0 0 3px light-dark(transparent, oklch(from var(--_menu-bg)  calc(l + 0.5) c h / 0.5));
		overflow: clip;
		padding: var(--action-menu-spacing) 0;

		[role="menuitem"] {
			appearance: none;
			background: none;
			border: none;
			border-radius: 0;
			color: light-dark(#48535e, #c8cbcf);
			font-size: 0.875rem;
			font-weight: 600;
			letter-spacing: 0.02rem;
			padding: 0.75rem 1rem;
			text-align: left;
			text-decoration: none;

			&:focus {
				outline: none;
			}

			&:focus-visible {
				box-shadow: none;
				outline: 2px solid currentColor;
				outline-offset: -4px;
			}

			&:not([aria-disabled="true"]):is(:hover, :focus-visible) {
				background: light-dark(#dadddf, #48535e);
			}

			&[aria-disabled="true"] {
				opacity: 0.5;
			}

			&.submenu-trigger {
				display: flex;
				justify-content: space-between;
				align-items: center;
				gap: 0.5rem;

				&::after {
					content: "▶" / "";
					font-size: 0.625rem;
				}

				&:has(+ [role="menu"]:popover-open) {
					background: light-dark(#dedede, #586471);
				}
			}
		}
	}

	/* Submenu positioning */
	[role="menuitem"].submenu-trigger + [role="menu"] {
		position-area: inline-end span-block-end;
		margin: 0;
		margin-top: calc(var(--action-menu-spacing) * -1);
	}

	/* Standard animation of menu panel popover */
	:scope[role="menu"]:popover-open {
		/* End of fade-in and start of fade-out */
		transition-duration: 120ms;
		transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
		opacity: 1;
	}

	@starting-style {
		/* Start of fade-in */
		:scope[popover]:popover-open {
			opacity: 0;
		}
	}

	/* Only use transform animation if browser supports anchored container queries*/
	@supports (container-type: anchored) {
		:scope[role="menu"] {
			/* Make it an anchored query container */
			container-type: anchored;
		}

		:scope[role="menu"] > .menu-content {
			/* End of fade-out */
			transform: scale(1);
			transform-origin: top left;
			transition-property: transform;
			transition-duration: inherit;
			transition-timing-function: inherit;
		}

		:scope[role="menu"]:popover-open > .menu-content {
			/* End of fade-in and start of fade-out */
			transform: scale(1);
		}

		@starting-style {
			/* Start of fade-in */
			:scope[role="menu"]:popover-open > .menu-content {
				transform: scale(0.8);
			}
		}

		@container anchored(fallback: flip-block) {
			:scope[role="menu"] > .menu-content {
				transform-origin: bottom left;
			}
		}

		@container anchored(fallback: flip-inline) {
			:scope[role="menu"] > .menu-content {
				transform-origin: top right;
			}
		}

		@container anchored(fallback: flip-block flip-inline) {
			:scope[role="menu"] > .menu-content {
				transform-origin: bottom right;
			}
		}
	}
}
