@scope (app-character-menu) {
    :scope {
        display: inline-block;
    }

    :scope > button {
        display: grid;
        place-content: center;
        background: var(--character-menu-bg-color, black);
        border-radius: 50%;
        color: white;
        height: 2.25rem;
        width: 2.25rem;
        outline-offset: 0.25rem;
        
        span {
            font-size: 1.5rem;
        }
    }
}
