@scope (app-user-menu) {
    :scope {
        display: inline-block;
    }

    :scope > button {
        display: grid;
        place-content: center;
        background: darkviolet;
        border-radius: 50%;
        color: white;
        height: 2.5rem;
        width: 2.5rem;
        outline-offset: 0.25rem;
    }
}
