@scope (app-user-menu) {
    :scope {
        display: inline-block;
    }

    :scope > button {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        background: darkviolet;
        border-radius: 0.5rem;
        color: white;
        font-size: 1rem;
        height: 2.5rem;
        outline-offset: 0.25rem;
        padding-inline: 0.5rem 0.75rem;
    }
}
